# intermediate build products for Windows and Linux
*.o
*.a

# the project for MacOSX
*.xcodeproj/

# intermediate build products for MacOSX
DerivedData

# OSX-specific files
.DS_Store

# editor temporaries
*.kate-swp
*.orig

# Praat temporary files
*kanweg*

# a file that everybody should copy explicitly from their makefiles directory
# and then rename
makefile.defs

# executables
praat
Praat
Praat.exe

# files created by R scripts in the test folders
.Rdata
.Rhistory
