[Desktop Entry]
Version=1.0
Name=Praat Speech Analyzer
Name[en_GB]=Praat Speech Analyser
GenericName=Speech Analyzer
GenericName[en_GB]=Speech Analyser
Comment=Analyze, synthesize and manipulate speech
Comment[en_GB]=Analyse, synthesise and manipulate speech
Type=Application
Exec=praat
Icon=praat
Categories=Education;Science;
Keywords=audio;sound;speech;phonetics
