<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.praat.Praat</string>
	<key>CFBundleName</key>
	<string>Praat</string>
	<key>CFBundleGetInfoString</key>
	<string>Praat 4.5 or up (PowerPC only), © 1992-2007 by Paul Boersma and David Weenink</string>
	<key>CFBundleShortVersionString</key>
	<string>Praat 4.5 or up (PowerPC only)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>PpgB</string>
	<key>CFBundleExecutable</key>
	<string>Praat</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>Praat.icns</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
